/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode

/app/CustomLib/PaymentGateway/crypto
/public/app-assets/vendor
/route/api.php
/route/web.php